<h2>Settings</h2>

<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= f.label 'Timezone' %><br />
  <%= f.time_zone_select :time_zone %></p>

  <p><%= f.label 'New Password:' %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label 'Once more, please:' %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><br /><%= f.label 'Current Password (required for any account changes):' %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to "Home", root_url %>
