<h1>Users</h1>

<%= link_to 'Create New User', new_admin_user_path %><p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Admin</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.name %></td>
    <td><%= u.email %></td>
    <td><%= u.is_active ? 'Active' : "Disabled" %></td>
    <td><%= u.is_admin ? 'Yes' : 'No' %>
    <td><%= link_to 'Edit', edit_admin_user_path(u.id) %></td>
    <td><%= button_to 'Destroy', { :id => u.id, :action => 'destroy' }, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h1>Recent Sessions</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Current Login</th>
    <th>Current IP</th>
  </tr>

<% @sessions.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.email %></td>
    <td><%= s.current_sign_in_at %></td>
    <td><%= s.current_sign_in_ip %></td>
  </tr>
<% end %>
</table>

<br />

<%= render :partial => "footer" %>